html {
	overflow: hidden;
	touch-action: none;
	position: fixed;
	overflow-y: scroll;
}

body {
	touch-action: none;
 	overflow: hidden;
	padding: 0; 
	margin: 0;
	position: fixed;
	overflow-y: scroll;
}
